@import url(menu-hamburguer.css);

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --background-color: rgb(255, 255, 255);
    --text-color: rgb(14, 1, 1);
    --section-break-text: #160101;
    --section-break-bg: rgb(255, 145, 0);
}

html,
body {
    margin: 0;
    scroll-behavior: smooth;
}

body {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
}

header {
    height: 18dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1 {
    font-family: 'Silkscreen';
}

section#start-section {
    background-color: rgb(101, 188, 188);
    background-image: url(../imgs/mangacover-main.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 70dvh;
    display: flex;
    justify-content: center;
    position: relative;
}

section#start-section button {
    position: absolute;
    bottom: 15%;
    padding: 1rem;
    font-family: 'Silkscreen';
    font-size: 1.5rem;
    color: var(--text-color);
    border: .1rem solid var(--text-color);
}
/*introduction-break*/

div.section-break {
    height: 12dvh;
    background-color: var(--section-break-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.section-break span {
    font-size: 1.5rem;
    font-family: 'Silkscreen';
    color: var(--section-break-text);
}

/*---------------------sections*/

section {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;
}

section > div.display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
}

section > div.display > a {
    position: relative;
    color: var(--text-color);
}

section > div.display > a div {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 248, 220, 0);
    transition: .3s;
    padding: 1rem;

    &:hover {
        background-color: rgba(255, 248, 220, .7);
    }
}

section > div.display > a div span {
    font-size: 1.3rem;
    opacity: 0;
    transition: .3s;
    font-family: 'Silkscreen';
    text-align: center;
}

section > div.display > a:hover div span {
    opacity: 1;
}

section > div.display img {
    height: 27vmin;
}

section > div.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section > div.container p {
    font-size: 1.2rem;
    text-align: justify;
    margin: 10px;
}

section > div.container > img {
    width: 80%;
}

/*topodesecoes*/

div.section-top {
    width: 100%;
}

div.section-top hr {
    height: 5px;
    background-color: black;
    margin-bottom: 20px;
}

div.section-top h2 {
    font-family: 'Silkscreen';
}

/*dialog*/

dialog:modal {
    --alt-color: #dcdcdc; 
    border: 2px solid black;
    background-color: rgba(0 0 0 / .5);
    backdrop-filter: blur(2.5px);
    color: var(--alt-color);
    border-radius: 10px;
    padding: 2rem;
    font-size: 1.4rem;
}

dialog:modal h1 {
    margin: 0;
    text-transform: uppercase;
}

dialog:modal button {
    border: 2px solid var(--alt-color);
    background-color: transparent;
    color: var(--_alt-color);
    font-size: 1.4rem;
    padding: .5rem 1rem;
    cursor: pointer;
    position: relative;
    isolation: isolate;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-color: rgb(226, 153, 43);
        z-index: -1;
        transform: translateY(100%);
        transition: .3s;
    }

    &:focus,
    &:hover {
        &::before {
            transform: translateY(0%);
        }   
    }
}

dialog:modal .action {
    display: flex;
    justify-content: flex-end;
    gap: .25rem
}

dialog:modal::backdrop {
    backdrop-filter: blur(2.5px);
    background-color: rgba(0 0 0 / .9);
}